.classfieldset{
position: relative;
  border: 2px groove;
  width: 400px;
  padding: 1.5em;
  margin: 1em;
}
body{
  background-image: url("../images/note-de-musique-161085.jpg" ) ;
	font-family: 'Lato', helvetica, arial, sans-serif;
  background-repeat: no-repeat;
  background-size: cover;

 }
 image{
   margin:30px;
   float: left;
 }
ul{
  float:right;
  display: block;
  position: relative;
}
label{
  display: block;
  float: left;
  width: 250px;
}
.musInfo{
  width: 10em;
  height: 7em;
  background-color: grey;
  padding: 1em;
  margin: 1em;
  float: left;
}
