<div>
  <fieldset class="classfieldset">
    <input type="number" ng-model="limitation" placeholder="choisissez le nombre des musiciens a afficher "/>
    <input type="text" ng-model="lettres" placeholder="Recherche par letter"/>
  </fieldset>
    <form name="newMusicianForm">
      <fieldset  class="classfieldset">
       <label for="name">Nom et Prenom de l'artiste</label>
       <input type="text" id="name" ng-model="newMusician.fullName"><br>
       <label for="titre">Titre de l'artiste</label>
       <input type="text" id="titre" ng-model="newMusician.title">
       <!-- <label for="image">Photo de l'artiste</label>
       <input type="text" id="image" ng-model="newMusician.image"> -->
       <button class="btn btn-primary"type="submit" ng-click="addMusician(newMusician)">Ajoutez un artiste</button>
      </fieldset>
    </form>
      <div  ng-repeat="m in musicians | limitTo:limitation | filter:lettres">
      <div >
        <musician artist="m"/>
      </div>
    </div>
    <br>
</div>
<!-- <div style="float:left">
  <musician artist="{ id:'6' ,fullName:'AmenAllah',title:'Love discuss'}"/>
</div> -->
